<%- include('chore.ejs') -%>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="stylesheet" href="css/helper.css">
  <nav class="navbar navbar-light bg-light justify-content-between navbar-fixed-top nav-sticky">
    <a class="navbar-brand font-weight-bold ">Course Mania</a>
    <a class="mr-sm-2">Home</a>
  </nav>

  <div class="modal fade modal-open modal-open-noscroll" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center"> Provide your information</h2>
        </div>
        <div class="modal-body">
          <form method="POST" action="/data">
            <label for="email" class="mt-2">Email</label>
            <input class="form-control" name="mail" placeholder="Enter your mail" id="mail" />
            <label for="name" class="mt-2">Name</label>
            <input class="form-control" name="name" placeholder="Enter your name" id="name" />
            <label for="time" class="mt-2">Contact no</label>
            <input class="form-control" name="phone" placeholder="Enter your contact no" id="phone" />
            <label for="time" class="mt-2">Course you are interested in</label>
            <select name="course" id="course" class="form-control">
              <option value="C and C++ foundation">C and C++ foundation</option>
              <option value="C++ intermediate + STL">C++ intermediate + STL</option>
              <option value="Intro to python">Intro to python</option>
              <option value="Intro to JAVA">Intro to JAVA</option>
              <option value="Frontend development">Frontend development</option>
              <option value="Augmented Reality">Augmented Reality</option>
            </select>
            <label for="source">From where you got to know about us</label>
            <select name="src" id="src" class="form-control">
              <option value="internet">internet</option>
              <option value="friend">friend</option>
              <option value="newspaper">newspaper</option>
              <option value="Exploration">Exploration</option>
            </select>
            <div class="text-center">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="intropython" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-head  er">
          <h2 class="text-center"> Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li>
              About python language + pros and cons
              <ol>
                <li>Why there is a need</li>
                <li>
                  Advantage of using it
                </li>
                <li>
                  Disadvantages of using it
                </li>
                <li>
                  It's History
                </li>
              </ol>
            </li>
            <li>
              setting up environment for python
              <ol>
                <li> Installing python</li>
                <li>
                  Python releases
                </li>
                <li>
                  Installing IDE
                </li>
              </ol>
            </li>
            <li>
              Variable ,conditionals
              <ol>
                <li>How to define variables</li>
                <li>Conditional statement</li>
                <li>How is diff from other languages</li>
              </ol>
            </li>
            <li>
              Intro to list,loop, function
              <ol>
                <li>
                  what list in python
                </li>
                <li>
                  How to use list in python
                </li>
                <li>
                  Functionality of python function
                </li>
              </ol>
            </li>
            <li>
              More with list, string, set, tuples, sets
              <ol>
                <li>Extending list more</li>
                <li>
                  what are sets
                </li>
                <li>
                  Intro with py tuples
                </li>
                <li>
                  Playing with strings
                </li>
              </ol>
            </li>
            <li>
              Dictionary and file handling
              <ol>
                <li>what is filehandling</li>
                <li>filehandling in python</li>
                <li>What are Dictionary and how to use it</li>
              </ol>
            </li>
          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="introjava" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center">Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li>
              About java and how to setup it
              <ol>
                <li>It's History</li>
                <li>Java need</li>
                <li>Difference from other languages</li>
                <li>Advantage and Disadvantages</li>
                <li>How to install and run it</li>
              </ol>
            </li>
            <li>
              Variables and Syntaxing
              <ol>
                <li>Syntazes in java</li>
                <li>variable declaration in java</li>
                <li>
                  I/O operation with variable
                </li>
              </ol>
            </li>
            <li>
              Object oriented language
              <ol>
                <li>
                  what is OOP
                </li>
                <li>
                  How to use OOP with java
                </li>
                <li>
                  what are classes and methods
                </li>
              </ol>
            </li>
            <li>
              Conditionals and control flow
              <ol>
                <li>if/else , Sswitch statement</li>
                <li>break continua keyword use</li>
                <li>How to use it in loops</li>
              </ol>
            </li>
            <li>
              Array and array list
              <ol>
                <li>
                  what is and how to use array
                </li>
                <li>
                  Differece between array and array list
                </li>
                <li>
                  Question using array and array list
                </li>
              </ol>
            </li>
            <li>
              String methods
              <ol>
                <li>
                  Methods to deal with strings
                </li>
                <li>
                  Operatio with strings
                </li>
              </ol>
            </li>
            <li>
              Access, Encapsulation and static methods
              <ol>
                <li>
                  Access modifiers
                </li>
                <li>
                  Encapsulation in OOP
                </li>
                <li>
                  what are static methods
                </li>
              </ol>
            </li>
            <li>
              Inheritance and Polymorphism
              <ol>
                <li>
                  advance OOP concepts
                </li>
                <li>
                  Coding and understanding Inheritance
                </li>
                <li>
                  Conding and understanding Polymorphism
                </li>
              </ol>
            </li>
          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="pwc" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center">Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li> INTRODUCTION. </li>
            <ol>
              <li>what is c.</li>
              <li>its necessity and application.</li>
              <li>C syntax. </li>
              <li>basic understanding of compiler.</li>
              <li>what is pop.</li>
            </ol>
            <li>DATA Types.</li>
            <ol>
              <li>varibles and constant</li>
              <li>scope</li>
              <li>memory utilization.</li>
              <li>basic arthematic</li>
              <li> problem to practice.</li>
            </ol>
            <li>LOOPS AND CONDITIONAL STATEMENT</li>
            <ol>
              <li>if statement.</li>
              <li>if else statement.</li>
              <li>for loop.</li>
              <li> while loop.</li>
              <li>do while loop.</li>
              <li>pratical problem.</li>
            </ol>
            <li>NESTED LOOPS AND NESTED CONDITIONAL STATEMENT</li>
            <li>SWITCH CASE</li>
            <li>PATTERN PRINTING</li>
            <ol>
              <li> pyramid.</li>
              <li> row and column.</li>
              <li>numeric structure.</li>
              <li>basic problem.</li>
              <li>intermidate problem.</li>
            </ol>
            <li>INTRO TO ARRAY AN DATA STRUCTURE</li>
            <ol>
              <li>syntax and declaration.</li>
              <li>application.</li>
              <li>pratice problem.</li>
            </ol>
            <li>INTRO TO FUNCTIONAL PROGRAMMING</li>
            <ol>
              <li>function</li>
              <li>need and application of function.</li>
              <li>parameter,return data_type,</li>
              <li>question to pratice</li>
            </ol>
            <li>POINTER</li>
            <ol>
              <li>pointer to variable.</li>
              <li>pointer to pointer.</li>
              <li>pointer to function.</li>
              <li>pointer application.</li>
            </ol>
            <li>structure</li>
            <ol>
              <li>how to create structure.</li>
              <li>what is structure programming</li>
              <li>real world application</li>
              <li>intermediate and advance question</li>
            </ol>
            <li>FINAL EXAM. </li>

          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="fed" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center"> Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li>
              Introduction to frontend development
              <ol>
                <li>
                  What is frontend development and it's need ?
                </li>
                <li>
                  Exploring diff websites
                </li>
                <li>
                  how website actually works 
                </li>
                <li>
                  what are static website
                </li>
              </ol>
            </li>
            <li>
              Introduction to HTML5
              <ol>
              <li>
                what is HTML5
              </li>
              <li>
                latest changes in HTML5
              </li>
              <li>
                what are semantics
              </li>
              <li>
                Types of tags, classes, Unicode etc
              </li>
              </ol>
            </li>
            <li>
              Introduction to CSS3
              <ol>
                <li>
                  what is CSS3 ad it's need ?
                </li>
                <li>
                  classes  in CSS
                </li>
                <li>
                  coding CSS
                </li>
              </ol>
            </li>
            <li>
              Introduction to Vanilla JS
              <ol>
                <li>
                  What is Js ? and it's importance
                </li>
                <li>
                  Getting familiar with it's syntax
                  </li>
                  <li>
                    Running js code
                  </li>
                  <li>
                    Coding basic JS
                  </li>
              </ol>
            </li>
            <li>
              Exploring DOM Manipulation
              </li>
              <ol>
                <li>
                  What is dom Manipulation
                </li>
                <li>
                  coding DOM
                </li>
                <li>
                  practice problem for DOM Manipulation
                </li>
              </ol>
            <li>
              Exploring CSS framework SASS, bootstrap
              </li>

              <ol>
                <li>
                  What are framework?
                </li>
                <li>
                  Intro with SASS framework
                </li>
                <li>
                  Intro with boostrap4
                </li>
              </ol>
            <li>
              Exploring js framework Jquery
            </li>
            <ol>
              <li>
                what is Jquery
              </li>
              <li>
                Coding jquery with DOM Manipulation
              </li>
            </ol>
            <li>
              Mini Project
            </li>
          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cfc" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center"> Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li> INTRODUCTION </li>
            <ol>
              <li> difference in c and c++. </li>
              <li> console I/O. </li>
              <li> syntax of c++ </li>
              <li> relation in c and cpp </li>
              <li> what is oop. </li>
              <li> difference in pop and oop.</li>
            </ol>
            <li> C++ DATA_TYPES </li>
            <ol>
              <li> basic or primary data type </li>
              <li> derived data type </li>
              <li> user defined data type </li>
            </ol>
            <li> C++ LOOPS AND CONDITIONAL STATEMENT </li>
            <ol>
              <li> if statement. </li>
              <li> if else statement. </li>
              <li> for loop. </li>
              <li> while loop. </li>
              <li> do while loop. </li>
              <li> nested loops. </li>
              <li> nested if else. </li>
              <li> switch case. </li>
              <li> pratical problem. </li>
            </ol>
            <li> FUNCTION IN C AND C++ </li>
            <ol>
              <li> syntax and implementation. </li>
              <li> return data_type and parameter </li>
              <li> functional problem basic. </li>
              <li> functional problem intermediate.</li>
            </ol>
            <li> POINTER AND REFERENCES </li>
            <ol>
              <li> pass by value. </li>
              <li> pass by reference. </li>
              <li> dangling pointer </li>
              <li> wild pointer. </li>
              <li> null pointer. </li>
              <li> void pointer. </li>
              <li> opaque pointer. </li>
              <li> can reference point to invalid location. </li>
              <li> pointer vs reference. </li>
            </ol>
            <li> ARRAY AND MATRICX </li>
            <ol>
              <li> intermediate problem on array. </li>
              <li> concept of sorting </li>
              <li> what is matrix. </li>
              <li> implementation and application of matrix </li>
              <li> basic problem on </li>
            </ol>
            <li> STRING </li>
            <li> STRUCTURE VS CLASS </li>
            <ol>
              <li> basics of object oriented programming(oop) </li>
              <li> how class is better than structure </li>
              <li> structure and class implementation </li>
              <li> structure and class application </li>
              <li> problem to practice. </li>
            </ol>
            <li>  SORTING </li>
            <li>  INTERMEDIATE PROBLEMS </li>
            <li>  FINAL EXAM. </li>

          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cis" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center"> Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li> BASIC AND INTERMEDIATE PROBLEM</li>
            <li> Arrays and Strings</li>
            <ol>
              <li> Arrays in C/C++ </li>
              <li> Array of Strings </li>
              <li> Multidimensional arrays in C/C++ </li>
              <li> Raw string literal </li>
              <li> Counts of distinct consecutive sub-string
                of length two </li>
              <li> Converting string to number and vice-versa </li>
              <li> Find size of array in C/C++ without using sizeof </li>
              <li> How to quickly reverse a string in C++? </li>
            </ol>
            <li> PROBLIMG SOLVING INTERMEDIATE </li>
            INTRODUCTION TO STL
            <li> CPP-Math</li>
            <ol>
              <li> sinh() function in C++ STL</li>
              <li> cosh() function in C++ STL</li>
              <li> tanh() function in C++ STL</li>
              <li> pow() function in C++ STL</li>
              <li> sqrt() function in C++ STL</li>
              <li> round() function in C++ STL</li>
            </ol>
            <li> CPP-Numeric </li>
            <ol>
              <li> accumulate()</li>
              <li> partial_sum()</li>
              <li> gcd()</li>
              <li> lcm()</li>
            </ol>
            <li> Cpp-Iomanip </li>
            <ol>
              <li> set_precision()</li>
              <li> fixed()</li>
            </ol>
            <li> CONTANIER </li>
            <ol>
              <li> vector template</li>
              <li> set template</li>
              <li> list stl</li>
              <li> pair </li>
              <li> map</li>
              <li> unordered_set</li>
              <li> unordered_map</li>
              <li> multimap stl</li>
              <li> forward_list & many more...</li>
            </ol>
            <li> FINAL EXAM. </li>


          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="dsa" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center"> Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li> intro to Algorithims </li>
            <ol>
              <li> pseudocode</li>
              <li> Mathematics</li>
              <li> Basic Recursion</li>
              <li> sorting</li>
            </ol>
            <li> intro to data structure </li>
            <ol>

              <li> Arrays: Searching, Sorting, Deleting, Shift, Rotation, Prefix Sum...</li>
              <li> Searching: Linear Search, Binary Search, Two pointer approach...</li>
            </ol>
            <li> Sorting: </li>
            <ol>
              <li> QuickSort and its variation</li>
              <li> Mergesort</li>
              <li> Counting sort</li>
              <li> Insertion Sort</li>
              <li> Heap Sort</li>
              <li> Other searching algorithms.</li>
            </ol>
            <li> Linked Lists</li>
            <ol>
              <li> Singly Linked List</li>
              <li> Doubly Linked Lists</li>
              <li> Circular Linked List.</li>
            </ol>
            <li> Stacks</li>
            <ol>
              <li> Stack Operations</li>
              <li> Implementation</li>
              <li> Different Questions</li>
            </ol>
            <li> Queues</li>
            <ol>
              <li> Queue Operations</li>
              <li> Implementation</li>
              <li> Different Questions</li>
              <li> Deque Operations</li>
              <li> Implementation</li>
              <li> Different Questions.</li>
            </ol>
            <li> Tree </li>
            <ol>
              <li> Binary Tree</li>
              <li> Traversals</li>
              </ol>
          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="ar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="text-center"> Course Syllabus</h2>
        </div>
        <div class="modal-body">
          <ul>
            <li>
              What is Augmented reality and it's application
              </li>
              <ol>
                <li>Introduction with augmented reality</li>
                <li>it's current application</li>
                <li>future scope of augmented reality</li>
              </ol>
            <li>
              How to setup AR in your laptop
            </li>
              <ol>
                <li>Download unity</li>
                <li>Setting up vuforia engine</li>
                <li>what is vuforia and it's use</li>
              </ol>
            <li>
              Explaining different components of unity
              </li>
              <ol>
                <li>Components in unity left panel</li>
                <li>what are textures, scripts etc</li>
                <li>How to move ,scale, rotate etc </li>
              </ol>
            <li>
              Introduction to C# language
              </li>
              <ol>
                <li>What is c# language</li>
                <li>intro with it's syntax
                </li>
                <li>Coding with C#</li>
              </ol>
            <li>
              Learning AR app components
            </li>
              <ol>
                <li>Components in AR app</li>
                <li>What are image targets</li>
                <li>What is target and non-target base VR</li>
              </ol>
            <li>
              Building an AR App
              </li>
              <ol>
                <li>Developing Ar app with unity assests</li>
                <li>Building it using unity engine</li>
                <li>Testing it</li>
              </ol>
              <li>
                Final evaluation
              </li>
          </ul>
          <div class="container text-center ">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Register for
              updates</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-head  er">
          <h2 class="text-center"> Provide your information</h2>
        </div>
        <div class="modal-body">
          <form method="POST" action="/data">
            <label for="email" class="mt-2">Email</label>
            <input class="form-control" name="mail" placeholder="Enter your mail" id="mail" />
            <label for="name" class="mt-2">Name</label>
            <input class="form-control" name="name" placeholder="Enter your name" id="name" />
            <label for="time" class="mt-2">Contact no</label>
            <input class="form-control" name="phone" placeholder="Enter your contact no" id="phone" />
            <label for="time" class="mt-2">Course you are interested in</label>
            <select name="course" id="course" class="form-control">
              <option value="C and C++ foundation">C and C++ foundation</option>
              <option value="C++ intermediate + STL">C++ intermediate + STL</option>
              <option value="Intro to python">Intro to python</option>
              <option value="Intro to JAVA">Intro to JAVA</option>
              <option value="Frontend development">Frontend development</option>
              <option value="Augmented Reality">Augmented Reality</option>
            </select>
            <label for="source">From where you got to know about us</label>
            <select name="src" id="src" class="form-control">
              <option value="internet">internet</option>
              <option value="friend">friend</option>
              <option value="newspaper">newspaper</option>
              <option value="Exploration">Exploration</option>
            </select>
            <div class="text-center">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div id="carousel__container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 h-70" src="images/img1.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 h-70" src="images/img2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 h-70" src="images/img1.png" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container text-center mt-5">
    <button type="button" class="btn btn-primary btn-lg doubt-button btn-danger" data-toggle="modal"
      data-target="#myModal">Register now for more updates</button>
  </div>

  <div class="container mt-5 text-center">
    <div class="row text-center">
      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Introduction to programming with C.</h5>
          <p class="card-text">In this course you will be getting introduction with basic and foundational programming
            of C </p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#pwc">Register Now</a>
          </div>
        </div>
      </div>

      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Datastructure and algorithm</h5>
          <p class="card-text">In this course we will be learning datastructures and algorithms concepts as well as we
            will implement it in C and C++</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#dsa">Register Now</a>
          </div>
        </div>
      </div>

      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">C and C++ foundation</h5>
          <p class="card-text">In this course you will be getting introduction with basic and foundational programming
            of C and C++</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cfc">Register Now</a>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">C++ intermediate + STL</h5>
          <p class="card-text">In this course we will init DSA and learn about multiple function defined in c++ STL
            library</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#cis">Register Now</a>
          </div>
        </div>
      </div>

      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Intro to python</h5>
          <p class="card-text">In this course we will introduce you with the most beautiful langages in CSE domain which
            is python</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#intropython">Register Now</a>
          </div>
        </div>
      </div>

      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Intro to JAVA</h5>
          <p class="card-text">In this course we will learn the basic of java language it's syntax ,it' use foundatio
            and much more </p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#introjava">Register Now</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container mt-5 text-center">
    <div class="row">

      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Frontend development</h5>
          <p class="card-text">In this course we will start building website using HTML, CSS , Javascript + their
            frameworks like jquery ,boostrap, material Ui etc</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#fed">Register Now</a>
          </div>
        </div>
      </div>

      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Augmented Reality (using unity)</h5>
          <p class="card-text">In this course we will be bringing virtual object into reality we will build augmented
            reality apps using unity tool.</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ar">Register Now</a>
          </div>
        </div>
      </div>

      <div class="card col-sm m-3" style="width: 18rem;">
        <img class="card-img-top" src="images/img1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Git and GitHub</h5>
          <p class="card-text">In this course we will be bringing virtual object into reality we will build augmented
            reality apps using unity tool.</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ar">Register Now</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/nitanshu.lokhande.9/"
          role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/NitanshuL" role="button"
          target="_blank"><i class="fab fa-twitter"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/nit_lok/" role="button"
          target="_blank"><i class="fab fa-instagram"></i></a>

        <a class="btn btn-outline-light btn-floating m-1"
          href="https://www.linkedin.com/in/nitanshu-lokhande-5b60691a0/" role="button" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/nlok5923" role="button"
          target="_blank"><i class="fab fa-github"></i></a>
      </section>
      <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
              <input type="email" id="subs_email" placeholder="enter email" class="form-control" />
              <button type="submit" class="btn btn-outline-light mb-4" onclick="subscribe()">
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="mb-4">
        <p>
          This website is purely made by the founder of course mania no other than founder do not hold any official
          rights to owe this website
        </p>
      </section>

      <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-12">
          <div class="form-outline form-white mb-4">
            <p> Contact us: </p>
            <ul>
              <p>Nitanshu Lokhande (+91)8871719893</p>
              <p>Mayank Agarwal (+91)7067809495</p>
              <p>Vivek Mahajan (+91)7489967664</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 1 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>

  <script>
    async function subscribe() {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/subscribe', true);
      await xhr.setRequestHeader('Content-Type', 'application/json');
      var resp = await xhr.send(
        JSON.stringify({
          mail: document.getElementById('subs_email').value,
        }))
    }
    $(document).ready(function () {
      $('.modal').on('show.bs.modal', function () {
        if ($(document).height() > $(window).height()) {
          // no-scroll
          $('body').addClass("modal-open-noscroll");
        }
        else {
          $('body').removeClass("modal-open-noscroll");
        }
      });
      $('.modal').on('hide.bs.modal', function () {
        $('body').removeClass("modal-open-noscroll");
      });
    })
  </script>